<!DOCTYPE HTML>

<html>
<head>
<meta charset="utf-8" />

<title>Mission Control</title>

<!-- Libraries -->

<script src="./Js/Libraries/jquery-1.6.1.js"></script>

<script src="./Js/Libraries/JQueryUi/js/jquery-ui-1.8.14.custom.min.js"></script>

<script src="./Js/Libraries/jquery.tmpl.min.js"></script>

<link rel="stylesheet"
	href="./Js/Libraries/JQueryUi/css/smoothness/jquery-ui-1.8.14.custom.css" />

<script src="Js/Libraries/jquery.form.js"></script>
<script src="Js/Libraries/validate/jquery.validate.js"></script>
<script src="Js/Libraries/TableSorter/jquery.tablesorter.js"></script>
<link rel="stylesheet" href="Js/Libraries/TableSorter/tableStyle.css" />

<script src="./Js/Libraries/timepicker/jquery.ui.timepicker.js"></script>

<link rel="stylesheet"
	href="./Js/Libraries/timepicker/jquery-ui-timepicker.css" />

<!-- Our code -->

<!-- Custom pager -->
<script src="./Js/Libraries/customPager.js"></script>

<!-- Utility for creating dependent category and topic dropdowns -->
<script src="./Js/categoryTopicUtility.js"></script>

<!-- Some common mission functions -->
<script src="./Js/missionModificationUtility.js"></script>

<!-- Main scripts file for this page -->
<script src="./Js/missionControl.js"></script>

<!-- CSS styles -->
<link rel="stylesheet" href="./Css/everything.css" />
<link rel="stylesheet" href="./Css/advancedSearch.css" />

</head>

<body>

	<h1 id="MissionHeader" class="PageHeader">Geopod Mission Control</h1>

	<span id="WelcomeText"></span>
	<span class="FakeLink" id="LogOut">Log Out</span>
	<!--<a href="#" id="LogOut" onclick="logOut ()">Log Out</a>-->

	<br />
	<hr />

	<div id="tabs">
		<ul>
			<li><a href="#dashboard">Home</a>
			</li>
			<li><a href="#favorites">Favorites</a>
			</li>
			<li><a href="#mymissions">My Missions</a>
			</li>
			<li><a href="#search">Search</a>
			</li>
			<li id="RightAlignTab"><a href="#account">My Account</a>
			</li>
		</ul>


		<!-- Home tab -->
		<div id="dashboard">
			<div id="topFavoritesTable">
				<h3>
					Recently Used Favorites: <img class="loadingIcon"
						src="./Images/ajax-loader.gif" alt="loading" />
				</h3>
				<div class="templateTarget"></div>
			</div>

			<br />

			<div id="myMissionsTable">
				<h3>
					My Recently Created Missions: <img class="loadingIcon"
						src="./Images/ajax-loader.gif" alt="loading" />
				</h3>

				<div class="templateTarget"></div>
			</div>

			<br />

			<div id="myDraftMissionsTable">
				<h3>
					My Recently Edited Drafts: <img class="loadingIcon"
						src="./Images/ajax-loader.gif" alt="loading" />
				</h3>
				<div class="templateTarget"></div>
			</div>


			<br />
			<button class="createNewMission">Create New Mission</button>
			<button id="searchMissions">Search Missions</button>
		</div>

		<!-- Favorites tab  -->
		<div id="favorites">
			<div id="favoritesTable" class="PaginatedContent">
				<h3>
					Favorites: <img class="loadingIcon" src="./Images/ajax-loader.gif"
						alt="loading" /> <span class="TotalMissionDisplay">Total:
						<span id="TotalMissions">0</span>
					</span>
				</h3>
				<div class="templateTarget SortableTable"></div>
				<span id="pagerDisplay"></span>
			</div>

		</div>


		<!-- My Missions tab -->
		<div id="mymissions">

			<hr />

			<div id="MyOriginalMissionsTable" class="PaginatedContent">
				<h3>
					My Original Missions: <img class="loadingIcon"
						src="./Images/ajax-loader.gif" alt="loading" /> <span
						class="TotalMissionDisplay">Total: <span id="TotalMissions">0</span></span>
				</h3>
				<div class="templateTarget SortableTable"></div>
				<span id="pagerDisplay"></span>
			</div>

			<hr />

			<div id="MyAdaptedMissionsTable" class="PaginatedContent">
				<h3>
					My Adapted Missions: <img class="loadingIcon"
						src="./Images/ajax-loader.gif" alt="loading" /> <span
						class="TotalMissionDisplay">Total: <span id="TotalMissions">0</span></span>
				</h3>
				<div class="templateTarget SortableTable"></div>
				<span id="pagerDisplay"></span>
			</div>

			<hr />
			<div id="MyDraftMissionsTable" class="PaginatedContent">
				<h3>
					My Draft Missions: <img class="loadingIcon"
						src="./Images/ajax-loader.gif" alt="loading" /> <span
						class="TotalMissionDisplay">Total: <span id="TotalMissions">0</span></span>
				</h3>
				<div class="templateTarget SortableTable"></div>
				<span id="pagerDisplay"></span>
			</div>

			<button class="createNewMission">New Mission</button>
		</div>


		<!-- Search tab -->
		<div id="search">
			<form id="searchForm">
				<div id="dateRanges">
					<div class="disabled">
						<input type="checkbox" id="completionTimeEnabled"
							name="checkCompletionTime" /> <label for="completionTime">Completion
							time:</label> <input id="completionTime" name="completionTime"
							placeholder="hh:mm" disabled /> +- <select id="completionDelta"
							name="completionDelta" disabled>
							<option value="00:00">0 min</option>
							<option value="00:05">5 min</option>
							<option value="00:10">10 min</option>
							<option value="00:15">15 min</option>
							<option value="00:30">30 min</option>
							<option value="01:00">1 hr</option>
							<option value="02:00">2 hr</option>
							<option value="05:00">5 hr</option>
						</select>
					</div>
					<div class="disabled">
						<input type="checkbox" id="createdDateEnabled"
							name="checkCreatedDate" /> <label for="createdLower">Created
							after </label> <input type="text" id="createdLower" name="createdLower"
							placeholder="earliest available date" disabled /> but before <input
							type="text" id="createdUpper" name="createdUpper"
							placeholder="most recent date" disabled />
					</div>
					<div class="disabled">
						<input type="checkbox" id="modifiedDateEnabled"
							name="checkModifiedDate" /> <label for="modifiedLower">Last
							modified after </label> <input type="text" id="modifiedLower"
							name="modifiedLower" placeholder="earliest available date"
							disabled /> but before <input type="text" id="modifiedUpper"
							name="modifiedUpper" placeholder="most recent date" disabled />
					</div>
				</div>

				<div>
					<label>Category:</label> <select id="category" name="categoryId">
						<option>Loading categories...</option>
					</select>
				</div>

				<div class="disabled">
					<label for="topic">Topic:</label> <select id="topic" name="topicId"
						disabled>
						<option>Select a category first</option>
					</select>
				</div>

				<div>
					<label for="author">Author:</label> <input type="text" id="author"
						name="author" />
				</div>

				<div>
					<label for="searchTermModifier">Containing </label>
					<select id="searchTermModifier" name="searchTermModifier">
						<option value="any">any</option>
						<option value="all">all</option>
					</select>
					<label for="searchTerms"> of the following terms:</label>
					<input type="text" id="searchTerms" name="searchTerms" />
				</div>

				<div>
					<label for="excludedTerms">But none of the following terms:</label>
					<input type="text" id="excludedTerms" name="excludedTerms" />
				</div>

				<label>Search in Name and </label>
					<input type="checkbox" id="searchDescriptionCheckbox" name="searchDescription" /> <label>Description</label>
					<input type="checkbox" id="searchBackgroundCheckbox" name="searchBackground" /> <label>Background</label>

				<div id="controls">
					<input type="submit" name="search" value="Search" /> <input
						type="button" id=formReset value="Clear options" />
				</div>

			</form>

			<div id="searchResults" class="PaginatedContent">
				<h3 id="searchResultsHeader">
					Search Results 
					<img class="loadingIcon" src="./Images/ajax-loader.gif" alt="loading" /> 
					<span id="additionalData" class="TotalMissionDisplay">
						Total: <span id="TotalMissions">0</span> results per page:
						<select id="perPageSelector">
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
							<option value="200">200</option>
						</select>
					</span>
				</h3>
				<div id="serverError"></div>
				<div class="templateTarget SortableTable"></div>
				<span id="pagerDisplay"></span>
			</div>

		</div>

		<div id='account'>
			<p>Account Status</p>
			<label id=accountStatus></label>
			
			<p>Change Password</p>
			<form id="passwordChangeForm">
				<div>
					<label for="oldPassword">Old password:</label>
					<input type="password" id="oldPassword" name="oldPassword" />
				</div>
				<div>
					<label for="newPassword">New password:</label>
					<input type="password" id="newPassword" name="newPassword" />
					<div class="password-meter">
						<div class="password-meter-message"></div>
						<div class="password-meter-bg">
							<div class="password-meter-bar"></div>
						</div>
					</div>
				</div>
				<div>
					<label for="newPasswordConfirm">Re-type new password:</label>
					<input type="password" id="newPasswordConfirm" name="newPasswordConfirm" />
				</div>

				<input type="submit" name="search" value="Change Password" />
			</form>
		</div>
	</div>

	<!-- Dialog Boxes -->
	<div class="Popup" id="AddFavoritePrompt" title="Add Favorite">
		The author of this mission may edit or remove it at any time. Do you
		want this mission to be updated with any modifications the author may
		make, or do you want to save a copy of it as it is now?<br /> <input
			type='checkbox' name='isFrozenCopy' value=true />save as a copy
	</div>
	<div class="Popup" id="AddOwnFavoritePrompt" title="Add Favorite">Add
		this mission to your favorites list?</div>
	<div class="Popup" id="RemoveFavoritePrompt" title="Remove Favorite">Are
		you sure you want to remove this mission from your favorites list?</div>
	<div class="Popup" id="DiscardPrompt" title="Discard Mission"></div>
	<div class="Popup" id="MakePublicPrompt" title="Make Public"></div>
	<div class="Popup" id="MakePrivatePrompt" title="Make Private"></div>

	<!-- Hidden templates -->
	<script id="missionTemplate" type="text/x-jQuery-tmpl">
	
		<div>
			{{if missionData.length==0}}
			<span class="EmptyPlaceholder">No missions available.</span>
			{{/if}}
			{{if missionData.length}}
			<table class="tablesorter">
				<thead>
					<tr>
						<th>Category</th>
						<th>Topic</th>
						<th>Name</th>
						<th style='width: 65px;'>Time</th>
						<th style='width: 85px;'>Author</th>
						<th style='width: 60px;'>Date Created</th>
						<th style='width: 60px;'>Last Modified</th>
						<th style='width: 100px;'>Version</th>
						<th>Options</th>
					</tr>
				</thead>
				<tbody>
				{{each missionData}}
				<tr data-missionid=${missionId} 
						class="{{if isFavorite==1}} favoriteMission {{/if}}
						{{if isPublic == "0" && missionStatusId == "0" }} privateMission {{/if}}">
					<td>${categoryName}</td>
					<td>${topicName}</td>
					<td>
						<a class="NameLink" href="#" onClick="viewMission(${missionId});" title="View Mission">${missionName}</a>
						{{if isFrozenCopy == "1" }}
							<img src="./Images/FrozenCopy.jpeg" alt="Frozen Copy Marker" width="15" height="15" title="Frozen Copy"/>
						{{/if}}
						{{if isPublic == "0" && missionStatusId == "0"}}
							<img src="./Images/Lock.jpeg" alt="Private Mission Marker" width="15" height="15" title="Private Mission"/>
						{{/if}}
						{{if isFavorite== "1"}}
							<img src="./Images/Star.png" alt="Favorite Mission Marker" width="15" height="15" title="Favorite Mission"/> 
						{{/if}}
						{{if parseInt(missionStatusId) > 1}}
							<img src="./Images/EditsToExisting.jpeg" alt="Edits To Existing Mission Marker" width="15" height="15" title="Draft of Edits to Existing Mission"/> 
						{{/if}}
					</td>
					<td>${estimatedTimeToComplete.substr(0, 5)}</td>
					<td>
						{{if originalAuthor != author}}
							<a class="AuthorLink" href="#" onClick="searchAuthor('${originalAuthor}');" title="View Author's Missions">${originalAuthor}</a>, 
						{{/if}}
						<a class="AuthorLink" href="#" onClick="searchAuthor('${author}');" title="View Author's Missions">${author}</a>
					</td>
					<td>${createdOnDate}</td>
					<td>${lastModifiedOnDate}</td>
					<td>${geopodVersion}</td>
					<td>

						<select class="missionOptionsMenu">

							<option name="view">View</options>
							
							{{if missionStatusId == "0"}}
								<option name="export">Export as GEO</options>
								{{if isFavorite==0}}
									{{if lastModifiedByUserId == localStorage["userId"]}}
										<option name="addOwnFavorite">Add to Favorites</options>
									{{else}}
										<option name="addFavorite">Add to Favorites</options>
									{{/if}}
								{{else}}
									<option name="removeFavorite">Remove Favorite</options>
								{{/if}}
							{{/if}}

							<option name="extend">Extend</options>
							{{if lastModifiedByUserId == localStorage["userId"]}}
								{{if missionStatusId != 0}}
									<option name="editDraft">Edit Draft</options>
								{{else}}
									<option name="editPublic">Edit</options>
								{{/if}}
							{{/if}}

							{{if lastModifiedByUserId == localStorage["userId"]}}
								{{if missionStatusId == "0"}}
									{{if isPublic == "1"}}
										<option name="makePrivate">Make Private</options>
									{{else}}
										<option name="makePublic">Make Public</options>
									{{/if}}	
								{{/if}}	
								<option name="deleteMission">Discard</options>
							{{/if}}

						</select>

					</td>
				</tr>
				{{/each}}
				</tbody>
			</table>
				{{if $item.haveLink}}
					<label class="ViewAllLink FakeLink" onclick="${$item.linkPath}">view all</label>
				{{/if}}
			{{/if}}
		</div>
		
	</script>
	<!-- End mission template -->

</body>

</html>
